@media screen and (max-width: 1114px) {
  .tutosidebar {
    left: -100% !important;
  }

  .main-content {
    padding-left: 0px !important;
  }

  .main-article{
    padding-top: 20px;
  }

  .searchTutorialRoot {
    top: 9px !important;
    right: 18px !important;
  }

  .mob-header-tuto {
    display: flex;
  }

  .openTutoSidebar {
    left: 0 !important;
  }

  .showSidebarClose {
    display: flex;
  }


  .tuto_cont_aside{
    padding-top: 85px;
  }
}

@media screen and (max-width: 850px) {
  .tuto_cont_aside {
    position: fixed;
    right: -100%;
    background-color: var(--background);
    width: 250px;
    padding-top: 85px;
    border-left: 1px solid var(--border-color-800C);
  }

  .tuto_toc_main{
    padding: 0px 20px;
  }

  .toc_open_btn {
    display: flex;
  }
}

@media screen and (max-width: 550px) {
  .tuto_popup_tab_navbar {
    position: absolute;
    left: -100%;
    z-index: 20;
    /* left: 0; */
  }

  .open_tuto_nav_btn {
    display: flex;
  }

  .tuto_side_nav_list {
    margin-top: 25px;
  }

  .course_ovw {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .tuto_popup_tab_navbar_open {
    left: 0 !important;
  }

  .tuto_tab_content {
    padding-left: 0px;
  }
}

@media screen and (max-width: 430px) {
  .mob_logo {
    display: none;
  }
}

@media screen and (max-width: 340px) {
  .tutosidebar {
    width: 260px !important;
  }
}
